.list{
}

.item {
}
    

.bank-wrapper {
    position: relative;
    font-size: 40px;
    text-align: center;
    vertical-align: central;
    width: 100%;
}

.bank-name{
    position:absolute;
    text-align: left;
    vertical-align: central;
}

.progress {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 6em;
    font-size: 1em;
    text-align: center;
    color: #fff;
    font-weight: 100;
    vertical-align: central;
}

.bank-selected-button{
    position:absolute;
    text-align:end;
    float:right;
    vertical-align:central;
}