<div data-role="view" data-title="Services" data-layout="main" data-model="APP.models.services" data-bind="events: {init: onServicesInit }" style="background-color: transparent;">
    <lu id="servicesListView" data-role="listview" data-style="inset" data-template="settingsTemplate" data-bind="source: ds"></lu>
</div>

<script type="text/x-kendo-template" id="settingsTemplate">
    <a href="views/mapContainer.html" data-bind="events:{ click: listener}">
        <p>
            #: data.title #
            #= data.vicinity #
        </p>
        <p>#: data.distance #m</p>
        <p>#= data.position[0] #</p>
        <p>#= data.position[1] #</p>
    </a>
</script>

